/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar BEFORE scroll */
.navbar-scroll {
  background-color: #d29bff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}
.navbar-brand {
  font-size: unset;
  height: 3.5rem;
}

.active-tab {
  text-decoration: underline; 
}

#logo {
  font-family: 'Monoton', cursive;
  color: white;
  font-size: 37px;
}

#profile-pic {
  width: 30%;
  margin: 3%;
}

#hamburger-menu {
  font-family: 'Monoton', cursive;
  color: white;
  font-size: 37px;
}

#contact-btn {
  background-color: rgb(34, 185, 160);
}

.about {
  padding: 125px 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.portfolio {
  padding: 125px 100px;
}

.resume {
  padding: 125px 100px;
}

.contact {
  padding: 125px 100px;
}

#idk {
  color: rgb(34, 185, 122)
}